<%- include ("partials/head.ejs") %>

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <%- include ("partials/Sidebar.ejs") %>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <%- include ("partials/Topbar.ejs") %>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                        
                        <a href="/uploadfilepage" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                            class="fas fa-download fa-sm text-white-50"></i> Upload File</a>
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                        <!-- Content Column -->
                        <div class="col-lg-4 mb-4">
                            <div class="card shadow mb-4 rounded-0">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Create User</h6>
                                </div>
                                <div class="card-body">
                                    <form action="createsourceuser" method="post">
                                        <div class="form-group">
                                            <input type="hidden"  id="hiddenid">
                                          <label for="exampleInputEmail1">Source</label>
                                          <select class="form-control rounded-0" name="sourceid" id="sourceiddropdown">
                                              <option>Select Source</option>
                                              <% for(let source of sourceList){%>
                                                <option value="<%- source.id %>"><%- source.name %> - <%- source.id %></option>
                                                <%}%>
                                          </select>
                                        </div>

                                        <div class="form-group">
                                            <input type="hidden"  id="hiddenid">
                                          <label for="exampleInputEmail1">User Email</label>
                                          <input type="text" name="email_address" class="form-control rounded-0" id="useremail" aria-describedby="emailHelp" required>
                                        </div>

                                        <div class="form-group">
                                            <input type="hidden"  id="hiddenid">
                                          <label for="exampleInputEmail1">User Name</label>
                                          <input type="text" name="name" class="form-control rounded-0" id="username" aria-describedby="emailHelp" required>
                                        </div>
                                       
                                        <div class="text-right hidesubmitebutton">
                                            <button type="submit" class="btn btn-primary rounded-0">Submit</button>
                                        </div>
                                      </form>
                                      <div class="text-right">
                                      <button  class="btn btn-primary rounded-0 updatesorcedata d-none">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        

                        <div class="col-lg-8 mb-4">
                            <!-- Project Card Example -->
                            <div class="card shadow mb-4 rounded-0">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Source List</h6>
                                </div>
                                <div class="card-body">
                                
                                    <div class="table-responsive">
                                    <table class="table table-bordered text-center sourceTable" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Source Name</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Source Name</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Action</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <% for(let source of usersourceList){%>
                                            <tr>
                                                <td><%-source.sourcename %></td>
                                                <td><%-source.name %></td>
                                                <th><%-source.email_address %></th>
                                                <td><a  data-id="<%-source.id %>" data-sourceid="<%-source.sourcedropdown %>" data-username="<%-source.name %>" data-useremail="<%-source.email_address %>" class="editsouceList" ><i class="fas fa-edit"></i></a>
                                                    |  <a class="deletesouceList" data-id="<%-source.id %>"><i class="fas fa-times"></i></a>
                                                </td>
                                            </tr>
                                            <%}%>
                                        </tbody>
                                    </table>
                                </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <%- include ("partials/footer.ejs") %>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->



    <%- include ("partials/footerend.ejs") %>

    <script>
        $(document).ready(function(){

            $(".sourceTable").on('click','.editsouceList',function(){
                let updateid = $(this).attr('data-id');
                let sourceid = $(this).attr('data-sourceid'); 
                let username = $(this).attr('data-username'); 
                let useremail = $(this).attr('data-useremail'); 
                $('#hiddenid').val(updateid)
                $("#username").val(username)
                $("#useremail").val(useremail)
                $("#sourceiddropdown").val(sourceid)
                $('.hidesubmitebutton').addClass('d-none')
                $(".updatesorcedata").removeClass('d-none')
                console.log('Inteting----->',sourceid)
                console.log('username----->',username)
            })

            $('.updatesorcedata').on('click',function(){
                let sourceId = $('#sourceiddropdown').val(); 
                let hiddenid = $('#hiddenid').val();
                let username = $("#username").val(); 
                let useremail = $("#useremail").val(); 
                console.log('hiddenid--------->',hiddenid)
                console.log('sourceId------->',sourceId)
                console.log('username------->',username)
                console.log('useremail------->',useremail)
                $.ajax({
                type:'POST',
                url: 'updateusersource',
                data: {
                    id:hiddenid,
                    sourceId:sourceId,
                    username:username,
                    useremail:useremail
                },
                success: function(data){
                        console.log('Success report------------->',data)
                        if(data.status === '200'){
                            swal({title: "Good job", text: "Data Successfully updated", icon: "success", type: 
                            "success"}).then(function(){ 
                            location.reload();
                            }
                            );
                        }
                }
                });
            })
            
            //deletesouceList
            $(".sourceTable").on('click','.deletesouceList',function(){
                let sourceid = $(this).attr('data-id');
             
                $.ajax({
                type:'POST',
                url: 'deleteusersource',
                data: {
                    id:sourceid
                },
                success: function(data){
                        console.log('Success report------------->',data)
                        if(data.status === '200'){
                            swal({title: "Good job", text: "Source Successfully Deleted", icon: "success", type: 
                            "success"}).then(function(){ 
                            location.reload();
                            }
                            );
                        }
                }
                });
            })

        })
    </script>


